html, body{
    background: url(https://static.vecteezy.com/system/resources/previews/000/084/163/non_2x/christmas-sweater-patterns-vector.jpg);

    font-weight: bold;
    font-size: 40px;
    text-align: center;
}